@import "@xyflow/react/dist/style.css" layer(base);
@import "tailwindcss";
@import "../../../../globals.css";

@theme {
  --animate-edge-running: edge-running 2s linear infinite;
  --animate-shake-x: shake-x 0.2s ease-in-out;
}

.react-flow__pane {
  cursor: default;
}

.react-flow__pane.dragging {
  cursor: grabbing;
}

.react-flow__node {
  cursor: default;
}

.react-flow__node.dragging {
  cursor: move;
}

@keyframes edge-running {
  from {
    stroke-dashoffset: 32;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shake-x {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-2px);
  }
  40%,
  80% {
    transform: translateX(2px);
  }
}
